.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 18px 20px;
}

.Card {
  position: relative;
  display: flex;
  border-radius: 20px;
  transition: .2s all;
  flex-direction: column;
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);

    .Card-Cross,
    .Card-Next {
      visibility: visible;
      opacity: 1;
    }
  }

  &-Icon {
    width: 52px;
    height: 52px;
    flex-shrink: 0;

    @include m(xs) {
      width: 36px;
      height: 36px;
    }
  }

  &-Cross {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 14px;
    height: 14px;
    background: url('../img/cross.svg') no-repeat center;
    background-size: cover;
    visibility: hidden;
    opacity: 0;
    transition: .2s all;

    @include m(xs) {
      visibility: visible;
      opacity: 1;
    }
  }

  &-Next {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 10px;
    height: 16px;
    background: url('../img/next.svg') no-repeat center;
    background-size: cover;
    visibility: hidden;
    opacity: 0;
    transition: .2s all;
  }

  &-Wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &-Header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;

    @include m(xs) {
      height: 36px;
    }
  }

  &-Title {
    display: inline-block;
    max-height: 56px;
    margin-left: 19px;
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;

    @include m-max(900px) {
      font-size: 21px;
    }

    @include m(xs) {
      max-height: 36px;
      font-size: 14px;
    }
  }

  &-Source {
    @include m(xs) {
      font-size: 12px;
    }
  }

  &-Time {
    margin-left: auto;

    @include m(xs) {
      font-size: 12px;
    }
  }

  &-Text {
    grid-column: span 2;
    width: 100%;

    @include m(xs) {
      letter-spacing: .3px;
    }

    @include m(xs) {
      font-size: 18px;
    }
  }

  &-Img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & > *:last-child {

    @include m-min(768px) {
      margin-top: auto;
    }
  }

  // Вариации карточек - размеры
  &_size_l {
    grid-column: span 6;
    grid-row: span 6;

    @include m-min(768px) {
      grid-column: span 4;
    }

    .Card-Text {
      padding-right: 40px;
      margin-top: 21px;

      @include m(lg) {
        font-size: 24px;
        margin-top: 18px;
      }

      @include m(xs) {
        padding-right: 0;
      }
    }

    .Card-Header {
      margin-bottom: 17px;
    }

    .Card-Img {
      margin-top: 51px;
      border-radius: 20px;
      overflow: hidden;

      @include m(xs) {
        margin-top: 19px;
      }
    }

    &.Card_type_critical {
      .card-Text {
        @include m(xs) {
          letter-spacing: .1px;
        }
      }
    }
  }

  &_size_m {
    grid-column: span 6;
    grid-row: span 2;

    @include m-min(768px) {
      grid-column: span 3;
    }

    .Card-Header {
      margin-bottom: 13px;

      @include m(xs) {
        margin-bottom: 16px;
      }
    }

    .Card-Special {

      @include m(xs) {
        margin-top: 20px;
        font-size: 14px;
      }
    }

    .Card-Text {
      margin-top: 22px;
      line-height: 1.23;
      padding-right: 40px;

      @include m(lg) {
        font-size: 20px;
      }

      @include m(xs) {
        margin-top: 17px;
        padding-right: 0;
      }
    }
  }

  &_size_s {
    grid-row: span 2;
    grid-column: span 6;

    @include m-min(768px) {
      grid-column: span 2;
    }

    > .Card-Time:last-child {
      @include m(xs) {
        position: absolute;
        right: 16px;
        bottom: 16px
      };
    }

    .Card-Header {
      margin-bottom: 16px;

      @include m(xs) {
        margin-bottom: 17px;
      }
    }

    .Card-Text {

      @include m(lg) {
        font-size: 20px;
      }

      @include m(xs) {
        margin-top: 16px;
        padding-right: 20px;
      }
    }
    .Card-Time {
      @include m(m) {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  // Вариации карточек - типы

  &_type_info {
    padding: 20px;
    background: #FAFAFA;
    &:hover {
      background-color: #F3F3F3;
    }

    @include m(xs) {
      padding: 16px;
    }
  }

  &_type_critical {
    padding: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #DB5341;
    &:hover {
      .Card-Content {
        background-color: #F3F3F3;
      }
    }

    .Card-Header {
      padding: 0 20px 0;
      margin-top: 20px;
      color: #FFF;

      @include m(xs) {
        margin-top: 14px;
      }
    }

    .Card-Source {
      padding-left: 20px;
    }

    .Card-Time {
      padding-right: 20px;
    }
    
    .Card-Source,
    .Card-Time {
      color: #FFF;
    }

    .Card-Wrap {
      margin-bottom: 17px;
    }
    .Card-Content {
      padding: 20px 20px 24px;
      background-color: #FAFAFA;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;

      @include m(xs) {
        padding: 20px 16px 16px;
      }

      .Card-Text {
        margin-top: 0;
      }

      .Card-Img {
        margin-top: 29px;

        @include m(xs) {
          margin-top: 19px;
        }
      }
    }
  }

  // Карточка с камерой (Pointer)
  &_mode_camera {
    //width: 500px;
    width: 320px;
    margin: 0 auto;
  }
}