@import "../../mixins/Lists";

.Menu {
  @include ListInline;
  @include ListUnstyled;

  &-Item {
    opacity: .6;

    & + & {
      margin-left: 28px;
    }
  }

  &-Link {
    font-size: 16px;
    font-weight: 700;
    color: #333;
  }
}