@import "../../mixins/Clearfix";

.Header {
  display: block;
  //padding: 30px 0 35px;
  //border-bottom: 1px solid #F0F0F0;

  //@media screen and (max-width: 820px) {
  //  padding: 24px 0 19px;
  //  border-bottom: 0;
  //}

  &-Inner {
    @include Clearfix;
  }

  &-Logo {
    margin-left: 20px;
    margin-right: 20px;
  }

  &-Menu {
    margin-top: 5px;
  }

  &-Hamburger {
    float: right;
    margin-top: 7px;
  }
}