.Camera {

  &-Wrap {
    position: relative;
    height: 230px;
    border-radius: 20px;
    overflow: hidden;
  }

  &-Screen {
    position: absolute;
    width: 9999px;
    -webkit-overflow-scrolling: touch;
  }

  &-Img {
    width: auto;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    transform-origin: center center;
    -webkit-overflow-scrolling: touch;
  }

  &-Scroll {
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100px;
    height: 3px;
    background-color: rgba(58, 58, 58, 0.61);
  }

  &Brightness {
    margin-top: 10px;
  }
}